@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(25, 25, 25);
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p,
h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

input {
  height: 35px;
  width: 165px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 40px;
  color: black;
}

li {
  margin-top: 15px;
}

button {
  height: 30px;
  width: 60px;
  background-color: #ea21e0;
  color: white;
  font-size: 1.05rem;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

p {
  color: whitesmoke;
}
